.bodyheadercol  {
    color:#8553FE;   
}

.heeboo {
    font-family: 'Heebo', sans-serif;
}

.bg-custom {
--tw-bg-opacity: 1;
background-color: rgba(133, 83, 254, var(--tw-bg-opacity));
}

    .bg-svg {
    /* background-image: url(./assets/Bubble_main.svg);
    background-repeat: no-repeat;
    background-size: cover; */
    background-image: linear-gradient(120deg,#00b6fe, #336dff, #664cff, #8042ff, #953fff, #b043ff, #e553f4, #fe6ad9, #ff78bf, #ffb67c);
    /* background-image: url(https://www.shutterstock.com/blog/wp-content/uploads/sites/5/2018/05/Gradient-Roundup-Illustrator-02.jpg);
    background-repeat: no-repeat;
    background-size: cover; */
  }

  #contact-card {
      transform: translate(0%, -30%);
  }
